 <div class="villa-image">
  <div class="villa-overlay"></div> 
  <div class="villa-text">
    <h1>Private Villas</h1>
    <p>Luxury, privacy, and comfort in exclusive locations just for you.</p>
  </div>
</div>

<div class="container my-5">
    <!--Casa Lm-->
    <div class="row container-villa">
        <div class="col-12 col-md-4">
            <h1>CASA LM</h1>
            <p>Casa LM is one of the most luxury houses in Cartagena, its republic arquitecture mixed with luxury is the perfect house for family and events.</p>
            <ul>
                <li>
                    <i class="bi bi-people-fill"></i><span>Capacity 16 people</span>
                </li>
                <li>
                    <i class="bi bi-segmented-nav"></i><span>7 Rooms</span>
                </li>
                <li>
                    <i class="bi bi-geo-alt-fill"></i><span>Old city, Santo Domingo Square</span>
                </li>
                <li>
                    <i class="bi bi-coin"></i><span>9'500.000 COP per night.</span>
                </li>
            </ul>
             <div class="text-center py-3">
                <button class="btn btn-warning text-center w-50" (click)="enviarWhatsApp('I want Information about Casa LM')">Get Now</button>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/casa_lm/1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/casa_lm/2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/casa_lm/3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/casa_lm/4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/casa_lm/5.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/casa_lm/6.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!--Casa cattleya-->
    <div class="row container-villa">
        <div class="col-12 col-md-4">
            <h1>CATTLEYA</h1>
            <p>
                Cattleya Luxury House is a beautiful house that is rented exclusively to families and groups. 
                <br><br>
                Iits Republic origin was exquisitely adequate and today IT enjoy all the modernity for the comfort of its visitors.
            </p>
            <ul>
                <li>
                    <i class="bi bi-people-fill"></i><span>Capacity 12 people</span>
                </li>
                <li>
                    <i class="bi bi-segmented-nav"></i><span>5 Rooms</span>
                </li>
                <li>
                    <i class="bi bi-geo-alt-fill"></i><span>Old city, Santo Domingo Square</span>
                </li>
                <li>
                    <i class="bi bi-coin"></i><span>8´200.000 COP per night.</span>
                </li>
            </ul>
            <div class="text-center py-3">
                <button class="btn btn-warning text-center w-50" (click)="enviarWhatsApp('I want Information about Cattelya')">Get Now</button>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div id="carouselcattleya" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/catleya/1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/catleya/2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselcattleya" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselcattleya" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!--casa Palenque-->
    <div class="row container-villa">
        <div class="col-12 col-md-4">
            <h1>PALENQUE</h1>
            <p>
                Palenque Luxury house is a beautiful unit located close to squares, restaurants, places to visit
                <br><br>
                Enjoy its spacious social lounge, open plan kitchen and infinity pool at the roof top.
            </p>
            <ul>
                <li>
                    <i class="bi bi-people-fill"></i><span>Capacity 11 people</span>
                </li>
                <li>
                    <i class="bi bi-segmented-nav"></i><span>4 Rooms</span>
                </li>
                <li>
                    <i class="bi bi-geo-alt-fill"></i><span>Old city, Santo Domingo Square</span>
                </li>
                <li>
                    <i class="bi bi-coin"></i><span>7´700.000 COP per night.</span>
                </li>
            </ul>
            <div class="text-center py-3">
                <button class="btn btn-warning text-center w-50" (click)="enviarWhatsApp('I want Information about House Palanque')">Get Now</button>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div id="carouselpalenque" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/palenque/1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/palenque/2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/palenque/3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/palenque/4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/palenque/5.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/palenque/6.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselpalenque" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselpalenque" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!--casa Olimar -->
    <div class="row container-villa">
        <div class="col-12 col-md-4">
            <h1>OLIMAR</h1>
            <p>
                Experience serene luxury in this stunning Mediterranean-style villa, featuring elegant stone walls, terracotta roofing, a private plunge pool, and sun-drenched lounging areas — the perfect retreat for relaxation and sophistication.
            </p>
            <ul>
                <li>
                    <i class="bi bi-people-fill"></i><span>Capacity 15 people.</span>
                </li>
                <li>
                    <i class="bi bi-segmented-nav"></i><span>5 Rooms.</span>
                </li>
                <li>
                    <i class="bi bi-geo-alt-fill"></i><span>Getsemaní.</span>
                </li>
                <li>
                    <i class="bi bi-coin"></i><span>5´500.000 COP per night.</span>
                </li>
            </ul>
            <div class="text-center py-3">
                <button class="btn btn-warning text-center w-50" (click)="enviarWhatsApp('I want Information about House Olimar')">Get Now</button>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div id="carouselolimar" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/olimar/1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/olimar/2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/olimar/3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/olimar/4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/olimar/5.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/olimar/6.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselolimar" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselolimar" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!--casa Santagua -->
    <div class="row container-villa">
        <div class="col-12 col-md-4">
            <h1>SANTAGUA</h1>
            <p>
               This beautiful house features stainless steel appliances, modern areas and pool, with an amazing rooftop and barbecue perfect for a group or family trip. 
            </p>
            <ul>
                <li>
                    <i class="bi bi-people-fill"></i><span>Capacity 12 people.</span>
                </li>
                <li>
                    <i class="bi bi-segmented-nav"></i><span>6 Rooms.</span>
                </li>
                <li>
                    <i class="bi bi-geo-alt-fill"></i><span>Old city, San Diego</span>
                </li>
                <li>
                    <i class="bi bi-coin"></i><span>4´500.000 COP per night.</span>
                </li>
            </ul>
            <div class="text-center py-3">
                <button class="btn btn-warning text-center w-50" (click)="enviarWhatsApp('I want Information about House Santagua')">Get Now</button>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div id="carouselsantagua" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/santagua/1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/santagua/2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/santagua/3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/santagua/4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/santagua/5.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/santagua/6.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselsantagua" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselsantagua" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

     <!--casa estrella de san pedro -->
    <div class="row container-villa">
        <div class="col-12 col-md-4">
            <h1 class="text-center">ESTRELLA DE SAN PEDRO </h1>
            <p>
               An unique house located in the heart of the walled city, with a cozy roof top for sunset lovers. 
                <br>
                Walking distance to mostly all the main places like bars, restaurants, super market and places to visit. 
            </p>
            <ul>
                <li>
                    <i class="bi bi-people-fill"></i><span>Capacity 14 people.</span>
                </li>
                <li>
                    <i class="bi bi-segmented-nav"></i><span>7 Rooms.</span>
                </li>
                <li>
                    <i class="bi bi-geo-alt-fill"></i><span>Old city, San Diego</span>
                </li>
                <li>
                    <i class="bi bi-coin"></i><span>5´000.000 COP per night.</span>
                </li>
            </ul>
            <div class="text-center py-3">
                <button class="btn btn-warning text-center w-50" (click)="enviarWhatsApp('I want Information about haouse San Pedro')">Get Now</button>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div id="carouselestrella" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/estrella/1.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/estrella/2.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/estrella/3.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/estrella/4.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/estrella/5.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselestrella" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselestrella" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <!--casa aposentos de san pedro -->
    <div class="row container-villa">
        <div class="col-12 col-md-4">
            <h1 class="text-center">APOSENTOS DE SAN PEDRO</h1>
            <p>
               A summer mansion located in San Diego Neighborhood. This authentic space offers well-preserved architecture with a restored 18th century colonial style house.  
            </p>
            <ul>
                <li>
                    <i class="bi bi-people-fill"></i><span>Capacity 16 people.</span>
                </li>
                <li>
                    <i class="bi bi-segmented-nav"></i><span>8 Rooms.</span>
                </li>
                <li>
                    <i class="bi bi-geo-alt-fill"></i><span>Old city, San Diego</span>
                </li>
                <li>
                    <i class="bi bi-coin"></i><span>7´000.000 COP per night.</span>
                </li>
            </ul>
            <div class="text-center py-3">
                <button class="btn btn-warning text-center w-50" (click)="enviarWhatsApp('I want Information about Aposentos de San Pedro')">Get Now</button>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div id="carouselaposentos" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/aposentos/1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/aposentos/2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/aposentos/3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/aposentos/4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/aposentos/5.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/aposentos/6.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselaposentos" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselaposentos" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>