<!-- Sección experiencia -->
<div class="expe-image">
  <div class="expe-overlay"></div> <!-- Capa oscura -->
  <div class="expe-text">
    <h1>Exclusive Island Escapes</h1>
    <p>Enjoy unforgettable moments on the most beautiful islands, with first-class service and breathtaking scenery.</p>
  </div>
</div>


<div class="container mt-5">

  <!-- Sección Bora Bora -->
  <div class="row contain-island">

    <!-- Imagen principal -->
    <div class="hero">
      <h1>Bora Bora</h1>
    </div>

    <!-- Mini galería encima -->
    <div class="gallery-container">
      <img src="/img/borabora/2.jpg" alt="Imagen 1">
      <img src="/img/borabora/3.jpg" alt="Imagen 2">
      <img src="/img/borabora/4.jpg" alt="Imagen 3">
    </div>

    <!-- Información de ubicación -->
    <div class="row px-5 container-info">
      <div class="col-12 mb-3">
        <i class="bi bi-geo-alt-fill"></i>
        Rosario Islands<br> <span style="font-size: 12px; margin-left:20px; font-style: italic;">60 minutes  trip from Cartagena. </span>
      </div>

      <!-- Opciones como carrusel en móvil -->
      <div class="col-12">
        <div class="options-carousel">
          <div class="option">
            <h3>General Admission</h3>
            <ul>
              <li>Round trip speedboat.</li>
              <li>Welcome drink.</li>
              <li>Lunch options: fried fish, grilled chicken, Balsamic chicken, Seafood Pasta, Poke Bowl or Pesto Pasta With Broccoli.</li>
              <li>Beach bed from the second line, assigned by order of arrival.</li>
            </ul>
            <div>
              <p>From $320.000 COP</p><br>
              <button class="btn btn-warning text-center" (click)="enviarWhatsApp('Island Bora Bora Pack General Admission')">Get Now</button>
            </div>
          </div>

          <div class="option">
            <h3>VIP</h3>
            <ul>
              <li>Round trip speedboat.</li>
              <li>Welcome drink.</li>
              <li>Lunch á la Carte (+12 options). </li>
              <li>Beah bed or Sunbed assigned by order of arrival.</li>
            </ul>
            <div>
              <p>From $420.000 COP</p><br>
              <button class="btn btn-warning text-center" (click)="enviarWhatsApp('Island Bora Bora Pack VIP')">Get Now</button>
            </div>
          </div>

          <div class="option">
            <h3>Not included</h3>
            <ul>
              <li>Beach bed 1st line.</li>
              <li>Dock tax $31.500.</li>
              <li>Towel, Activities. </li>
              <li>Food and beverage ordered from the menu. </li>
              <li>VIP zones only for private boats.</li>
            </ul>
            <div>
              <p>*Children under 18 years old are not admitted.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Sección Pao Pao -->
  <div class="row contain-island">

    <!-- Imagen principal -->
    <div class="hero-2">
      <h1>Pao Pao</h1>
    </div>

    <!-- Mini galería encima -->
    <div class="gallery-container">
      <img src="/img/paopao/2.jpg" alt="Imagen 1">
      <img src="/img/paopao/3.jpg" alt="Imagen 2">
      <img src="/img/paopao/4.jpg" alt="Imagen 3">
    </div>

    <!-- Información de ubicación -->
    <div class="row px-5 container-info">
      <div class="col-12 mb-3">
        <i class="bi bi-geo-alt-fill"></i>
        Rosario Islands<br> <span style="font-size: 12px; margin-left:20px; font-style: italic;">60 minutes  trip from Cartagena. </span>
      </div>

      <!-- Opciones como carrusel en móvil -->
      <div class="col-12">
        <div class="options-carousel">
          <div class="option">
            <h3>General Admission</h3>
            <ul>
              <li>Round trip speedboat. </li>
              <li>Welcome drink.</li>
              <li>Sunbed.</li>
              <li>Lunch, Options: Paella, Seafood pasta, Cartagena´s Typical fish or Vegetarian.</li>
            </ul>
            <div>
              <p>From $310.000 COP</p><br>
              <button class="btn btn-warning text-center" (click)="enviarWhatsApp('Island Pao Pao Pack General Admission')">Get Now</button>
            </div>
          </div>

          <div class="option">
            <h3>Not included</h3>
            <ul>
              <li>Dock tax $31.500.</li>
              <li>Towel, Activities. </li>
              <li>Food and beverage ordered from the menu. </li>
            </ul>
            <div>
              <p>*Children under 18 years old are not admitted.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Sección managua -->
  <div class="row contain-island">

    <!-- Imagen principal -->
    <div class="hero-3">
      <h1>San Pedro de Managua</h1>
    </div>

    <!-- Mini galería encima -->
    <div class="gallery-container">
      <img src="/img/managua/2.jpg" alt="Imagen 1">
      <img src="/img/managua/3.jpg" alt="Imagen 2">
      <img src="/img/managua/4.jpg" alt="Imagen 3">
    </div>

    <!-- Información de ubicación -->
    <div class="row px-5 container-info">
      <div class="col-12 mb-3">
        <i class="bi bi-geo-alt-fill"></i>
        Rosario Islands<br> <span style="font-size: 12px; margin-left:20px; font-style: italic;">60 minutes  trip from Cartagena. </span>
      </div>

      <!-- Opciones como carrusel en móvil -->
      <div class="col-12">
        <div class="options-carousel">
          <div class="option">
            <h3>General Admission</h3>
            <ul>
              <li>Round trip speedboat. </li>
              <li>Welcome drink.</li>
              <li>Dock Tax</li>
              <li>Sunbeds.</li>
              <li>Lunch depending on the plan.</li>
              <li>Towel.</li>
            </ul>
            <div>
              <button class="btn btn-warning text-center" (click)="enviarWhatsApp('Island Managua Pack General Admission')">Get Now</button>
            </div>
          </div>

          <div class="option">
            <h3>Not included</h3>
            <ul>
              <li>Food and beverage ordered from the menu. </li>
            </ul>
            <div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--seccion Sabia-->
  <div class="row contain-island">

    <!-- Imagen principal -->
    <div class="hero-4">
      <h1>Sabai</h1>
    </div>

    <!-- Mini galería encima -->
    <div class="gallery-container">
      <img src="/img/sabai/2.jpg" alt="Imagen 1">
      <img src="/img/sabai/3.jpg" alt="Imagen 2">
      <img src="/img/sabai/4.png" alt="Imagen 3">
    </div>

    <!-- Información de ubicación -->
    <div class="row px-5 container-info">
      <div class="col-12 mb-3">
        <i class="bi bi-geo-alt-fill"></i>
        Baru Islands <br> <span style="font-size: 12px; margin-left:20px; font-style: italic;">60 minutes  trip from Cartagena. </span>
      </div>

      <!-- Opciones como carrusel en móvil -->
      <div class="col-12">
        <div class="options-carousel">
          <div class="option">
            <h3>General Admission</h3>
            <ul>
              <li>Round trip speedboat. </li>
              <li>Dock tax.</li>
              <li>Water on board.</li>
              <li>Welcome drink. </li>
              <li>Sunbed in front of the beach.</li>
              <li>Towel.</li>
              <li>Lunch á la Carte.</li>
              <li>Beach Activities: Kayaks, Voleyball.</li>
            </ul>
            <div>
              <p>From Adults: $400.000 COP</p>
              <p>From children: $360.000 COP(2-12 years young)</p>
              <br>
              <button class="btn btn-warning text-center" (click)="enviarWhatsApp('Island Sabia Pack General Admission')">Get Now</button>
            </div>
          </div>

          <div class="option">
            <h3>Not included</h3>
            <ul>
              <li>Food and beverage ordered from the menu. </li>
            </ul>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--seccion paue-->
  <div class="row contain-island">

    <!-- Imagen principal -->
    <div class="hero-5">
      <h1>Pa'ue</h1>
    </div>

    <!-- Mini galería encima -->
    <div class="gallery-container">
      <img src="/img/paue/2.jpg" alt="Imagen 1">
      <img src="/img/paue/3.jpg" alt="Imagen 2">
      <img src="/img/paue/4.jpg" alt="Imagen 3">
    </div>

    <!-- Información de ubicación -->
    <div class="row px-5 container-info">
      <div class="col-12 mb-3">
        <i class="bi bi-geo-alt-fill"></i>
        Baru Islands <br> <span style="font-size: 12px; margin-left:20px; font-style: italic;">60 minutes  trip from Cartagena. </span>
      </div>

      <!-- Opciones como carrusel en móvil -->
      <div class="col-12">
        <div class="options-carousel">
          <div class="option">
            <h3>General Admission</h3>
            <ul>
              <li>Round trip speedboat.</li>
              <li>Welcome drink. </li>
              <li>Sunbed.</li>
              <li>Lunch á la Carte.</li>
            </ul>
            <div>
              <p>From Adults: $440.000 COP</p>
              <p>From children: $280.000 COP(4-7 years young)</p>
              <br>
              <button class="btn btn-warning text-center" (click)="enviarWhatsApp('Island Paue Pack General Admission')">Get Now</button>
            </div>
          </div>

          <div class="option">
            <h3>Not included</h3>
            <ul>
              <li>Food and beverage ordered from the menu. </li>
              <li>Towel Service.</li>
            </ul>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
