<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-transparent"
     [ngClass]="{'bg-transparent': !isScrolled, 'navbar-colored': isScrolled}">
  <div class="container-fluid align-items-center">

    <!-- Logo siempre visible a la izquierda -->
    <a class="navbar-brand d-lg-none" href="#">
      <img src="/img/Mulata_Logo.png" alt="Logo" width="80px">
    </a>

    <!-- Botón hamburguesa solo en móvil -->
    <button class="navbar-toggler ms-auto" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarContenido"
            aria-controls="navbarContenido" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú colapsable -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarContenido">

      <!-- Menú izquierda solo visible en escritorio -->
      <ul class="navbar-nav d-none d-lg-flex flex-row gap-3">
        <li class="nav-item"><a class="nav-link text-white" routerLink="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/services">Concierge Services</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/experiences">Experiences</a></li>
      </ul>

      <!-- Logo centrado solo en escritorio -->
      <a class="navbar-brand mx-3 d-none d-lg-block" href="#">
        <img src="/img/Mulata_Logo.png" alt="Logo" width="80px">
      </a>

      <!-- Menú derecho solo visible en escritorio -->
      <ul class="navbar-nav d-none d-lg-flex flex-row gap-3">
        <li class="nav-item"><a class="nav-link text-white" routerLink="/island">Islands</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/private-villa">Private Villas</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/boats">Boats</a></li>
      </ul>

      <!-- Menú visible solo en móvil -->
      <ul class="navbar-nav d-lg-none flex-column mt-3 w-100">
        <li class="nav-item"><a class="nav-link text-white" routerLink="/home" data-bs-toggle="collapse" data-bs-target="#navbarContenido">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/services" data-bs-toggle="collapse" data-bs-target="#navbarContenido">Concierge Services</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/experiences" data-bs-toggle="collapse" data-bs-target="#navbarContenido">Experiences</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/island" data-bs-toggle="collapse" data-bs-target="#navbarContenido">Islands</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/private-villa" data-bs-toggle="collapse" data-bs-target="#navbarContenido">Private Villas</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/boats" data-bs-toggle="collapse" data-bs-target="#navbarContenido">Boats</a></li>
      </ul>

    </div>
  </div>
</nav>
