 <div class="hero-image">
  <div class="hero-text">
    <h1>Concierge  Services</h1>
    <p>We provide professional and reliable solutions</p>
  </div>
</div>


<div class="container">

  <!--Section Our Services-->

  <div class="row mt-5 mb-5 ourservices-contain">
      <div class="row contain-title-ourservices">
        <div>
          <h1>Concierge Services</h1>
        </div>
      </div>
      <div class="row mt-5 contain-ourservices">
        <div class="col-md-4">
          <h4>INCLUDE:</h4>
          <ul class="">
            <li>Dedicated Concierge 24/7</li>
            <li>Full Itinerary Planning</li>
            <li>Bespoke Experiences</li>
            <li>Luxury Transportation</li>
            <li>Yacht and Boat Rentals</li>
            <li>Property Rental</li>
            <li>Event & Protocol Coordination</li>
            <li>Restaurant Reservations</li>
            <li>Cartagena Guide Information</li>
          </ul>
        </div>
        <div class="col-md-4 img-our-services">
          <img src="/img/services.jpg" alt="Our services">
        </div>
        <div class="col-md-4">
          <h4>AVAILABLE FOR:</h4>
          <ul>
            <li>Pre - Wedding</li>
            <li>Private & Corporate Events</li>
            <li>Friends´ Getaway</li>
            <li>Birthday Celebrations</li>
            <li>Bachelor & Bachelorette Party</li>
            <li>Company Retreats</li>
            <li>Cultural Experiences</li>
          </ul>
        </div>
      </div>
  </div>


 <!--Section itenerary-->
  <div class="row contain-itenerary">
    <div class="row itenerary-title">
      <h1>How to create your Itinerary?</h1>
    </div>
    <div class="row itenerary-contain">
      <div class="col-md-4">
        <div>
          <p>At Mulata, we believe you should experience the three faces o Cartagena:  Its Culture, its vibrant lifestyle, and its dreamy beaches.</p>
          <p>We recommend a full 3-day itinerary to immerse yourself in the true spirit of our city.</p>
          <p>Staying longer? you´re free to choose and expand your journey however you like.</p>
          <p>For more inspiration, feel free to check our brochures with curated experiences.</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row iterenary-items">
          <div class="col-4 col-md-4 ">
            <img src="/img/location.png" alt="">
          </div>
          <div class="col-8 col-md-8">
            <h5>Day 1 Culture - Rooted & refined</h5>
            <span>Choose your Cultural immersion:</span>
            <ul>
              <li>Cool - Tour</li>
              <li>Walking Tour</li>
              <li>Eat & Explore</li>
              <li>City Tour</li>
              <li>Black Lives Matter</li>
            </ul>
          </div>
        </div>
        <div class="row iterenary-items">
          <div class="col-4 col-md-4 ">
            <img src="/img/dance.png" alt="">
          </div>
          <div class="col-8 col-md-8">
            <h5>Day 2 Experience - Senses in Motion</h5>
            <span>Embrace the rhythm and flavor of Cartagena:</span>
            <ul>
              <li>Move your Feet</li>
              <li>Savor the Moment</li>
              <li>Sip the Essence</li>
              <li>Culinary Adventures</li>
              <li>Craft the Sip</li>
            </ul>
          </div>
        </div>
        <div class="row iterenary-items">
          <div class="col-4 col-md-4">
            <img src="/img/island.png" alt="">
          </div>
          <div class="col-8 col-md-8">
            <h5>Day 3 Islands - your private escape</h5>
            <span>Sail away to the Rosario Islands in your own style:</span>
            <ul>
              <li>Private Boat day</li>
              <li>Beach Bliss</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Section Conciege Fee-->

  <div class="row mt-5 mb-5 conciergefee-contain">
      <div class="row contain-title-conciergefee">
        <div>
          <h1>Concierge Fee</h1>
        </div>
      </div>
      <div class="row mt-5 contain-conciergefee">
        <div class="col-md-4">
          <div>
            <h3>Essence (5 - 10 )     $50</h3>
            <ul>
              <li>Dedicated personal concierge</li>
              <li>Restaurant & Beach Club Reservations</li>
              <li>Airport Transfer coordination</li>
              <li>Tailored Itinerary planning</li>
            </ul>
          </div>
           <div>
            <h3>Luxe (11 - 20 ) $100</h3>
            <ul>
              <li>All Essence benefits</li>
              <li>Welcome amenity to each guest</li>
              <li>Transfer out from the hotel to the Airport</li>
            </ul>
          </div>
           <div>
            <h3>Prestige (21+)    $200</h3>
            <ul>
              <li>$5 USD per additional guest/day</li>
              <li>All Luxe Benefits</li>
              <li>2 dedicated concierges</li>
              <li>Daily check-ins and support throughout the stay</li>
              <li>Special gift at each experience</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 img-conciergefee">
          <img src="/img/fee.jpg" alt="Concierge fee">
        </div>
        <div class="col-md-4">
          <h4 class="text-center my-5">TAKE A LOOK AT OUR BROCHURES</h4>
          <span>Discover more about each service we offer:</span>
          <ul class="mt-3">
            <li><a href="#">Mulata Experiences</a></li>
            <li><a href="#">Private Properties</a></li>
            <li><a href="#">Yachts and Catamarans</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Transportation</a></li>
            <li><a href="#">Private Beach Clubs</a></li>
            <li><a href="#">Spa Treatments</a></li>
            <li><a href="#">Extra Services</a></li>
          </ul>
        </div>
      </div>
  </div>

  <!--Section exclusive add-->

  <div class="row exclusive">
    <div class="col-md-6 contain-img-exclusive">
      <img src="img/exclusive_add.jpg" alt="Exclusive Add" class="img-fluid w-100 h-100 object-cover">
      <div class="text-container">
        <p>At Mulata, details make the difference.</p>
        <p>There complimentary touches are thoughtfully included with select bookings.</p>
        <p>No need to ask, just enjoy!</p>
      </div>
    </div>
    <div class="col-md-6 contain-exclusive">
        <h2>Exclusive Add - Ons</h2>
        <div>
          <h3>| 4+ Nights stays</h3>
          <p>Continental breakfast included</p>
        </div>
        <div>
          <h3>| 2+ Private Experiences booked</h3>
          <p>2 - hours professional photography session included.</p>
        </div>
        <div>
          <h3>| Property Rentals</h3>
          <p>Roundtrip airport transfers included.</p>
        </div>
        <div>
          <h3>| yacht Rentals</h3>
          <p>Basic onboard catering included</p>
        </div>
        <div>
          <h3>| all stays</h3>
          <p>Local welcome gift</p>
        </div>
    </div>
  </div>

  <!--Section booking Process-->
  <div class="row contain-booking">
    <div class="col-md-12 text-center">
      <h1>Booking Process</h1>
      <hr>
    </div>
    <div class="col-md-4 text-booking_uno">
      <div>
        <h3>01 | Schedule a Meeting</h3>
        <p>Let's schedule a meeting with your dedicated concierge to discuss your preferences and how we can best assist.</p>
      </div>
      <div>
        <h3>02 | Review our brochure</h3>
        <p>Before our meeting, we invite you to review our digital brochure, which provides a comprehensive overview of our services and pricing information.</p>
      </div>
      <div>
        <h3>03 | Receive your itinerary</h3>
        <p>After our meeting, you will receive a personalized itinerary and quote tailored specifically to your needs.</p>
      </div>
      <div>
        <h3>04 | Adjustments & aproval</h3>
        <p>We will make any necessary adjustments based on your feedback. Once the quote is approved, a 50% deposit is required to confirm your booking and begin arrangements.</p>
      </div>
    </div>
    <div class="col-md-4 img-booking">
      <img src="img/booking_process.jpg" alt="booking process">
    </div>
    <div class="col-md-4 text-booking_dos">
      <div>
        <h3>*No Initial consultation*</h3>
        <p>Please note, Mulata does not charge for the initial consultation.</p>
     </div>
     <div>
        <h3>*Deposit for Special Requests*</h3>
        <p>To proceed with a request that involves an event or requires a more detailed quote not covered in the brochure, a deposit of $50 USD is required. This deposit will be applied toward the concierge fee.</p>
     </div>
  </div>

</div>
 

